<%= form_for [@classroom, @track] do |f| %>
  <%= f.error_messages %>
  <h3>
    <%= f.label :name, 'Track Name' %>
  </h3>
  <span>
    <%= f.text_field :name, placeholder: "Enter track name", class: "form-input" %>
  </span>

  <h3>Start &amp; End Time</h3>
  <span>
    <%= f.text_field :start_date, value: nice_date_format(@track, :start_time), placeholder: Time.zone.now.strftime("%Y-%m-%d"), class: "form-input form-input-inline"  %>
    <%= f.text_field :start_time, value: nice_time_format(@track, :start_time), placeholder: Time.zone.now.strftime("%l:%M%P"), class: "form-input form-input-inline"  %>
    to
    <%= f.text_field :end_date, value: nice_date_format(@track, :end_time), placeholder: Time.zone.now.strftime("%Y-%m-%d"), class: "form-input form-input-inline"  %>
    <%= f.text_field :end_time, value: nice_time_format(@track, :end_time), placeholder: Time.zone.now.strftime("%l:%M%P"), class: "form-input form-input-inline"  %>
  </span>
  <div>
    <%= f.submit class: "add-track btn" %>
  </div>
<% end %>