<%= form_for [@classroom, @track] do |f| %>
  <%= f.error_messages %>
  <div class="form-group">
    <%= f.label :name, 'Track Name' %>
    <%= f.text_field :name, placeholder: "Enter track name", class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :note, 'Track Note' %>
    <div id="wysihtml5-toolbar" class="note-styling" style="display: none;">
      <a data-wysihtml5-command="bold" class="strong">bold</a>
      <a data-wysihtml5-command="italic" class="italic">italic</a>
      <a data-wysihtml5-command="createLink">insert link</a>
      <div data-wysihtml5-dialog="createLink" style="display: none;">
        <label>
          <input data-wysihtml5-dialog-field="href" value="http://" class="text form-input">
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a>
        <a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>
    </div>
    <%= f.text_area :note, placeholder: "Add a brief note for your students. For example reference a document, list readings, etc.", class: "form-input", id: 'wysihtml5-textarea', rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Start Time' %>
    <%= f.text_field :start_date, value: nice_date_format(@track, :start_time), placeholder: Time.zone.now.strftime("%Y-%m-%d"), class: "form-input"  %>
    <%= f.text_field :start_time, value: nice_time_format(@track, :start_time), placeholder: Time.zone.now.strftime("%l:%M%P"), class: "form-input"  %>
  </div>

  <div class="form-group">
    <%= f.label :name, 'End Time' %>
    <%= f.text_field :end_date, value: nice_date_format(@track, :end_time), placeholder: Time.zone.now.strftime("%Y-%m-%d"), class: "form-input"  %>
    <%= f.text_field :end_time, value: nice_time_format(@track, :end_time), placeholder: Time.zone.now.strftime("%l:%M%P"), class: "form-input"  %>
  </div>
  <div class="form-group">
    <%= f.label :published %>
    <%= f.check_box :published%>
    <span class="form-help-block">Check this box to publish this track. Published tracks can be viewed by students.</span>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>