<div class="progress">
  <div class="progress-bar progress-bar-danger" style="width: <%= checkpoint.get_score(0, @start_time, @end_time) %>%"><%= get_rating_label(checkpoint, 0) %></div>
  <div class="progress-bar progress-bar-warning" style="width: <%= checkpoint.get_score(1, @start_time, @end_time) %>%"><%= get_rating_label(checkpoint, 1) %></div>
  <div class="progress-bar progress-bar-success" style="width: <%= checkpoint.get_score(2, @start_time, @end_time) %>%"> <%= get_rating_label(checkpoint, 2) %></div>
</div>