<div class="grid-unit narrow <%= 'today-track' if active_track?(track) %>" id="track_<%= track.id %>">
  <div class="padding-border">
    <%= link_to classroom_track_path(classroom_id: @classroom, id: track), class: "content" do %>
      <h4 class="unit-header"><%=track.name %>
        <% unless track.published %>
          <span class="badge unpublished h5">Unpublished</span>
        <% end %>
        <% if active_track?(track) %>
          <span class="badge active h5">Active</span>
        <% end %>
      </h4>

      <div class="checkpoint-count">
        <% if track.published %>
          <span class="tracks-icons checkpoint-icon"></span>
          <span class="number"><%= track.checkpoints.length %></span><span><%= " Checkpoint".pluralize %></span>
        <% else %>
          <span class="tracks-icons checkpoint-icon-unpublished"></span>
          <span class="number unpublished-text"><%= track.checkpoints.length %></span><span class="unpublished-text"><%= " Checkpoint".pluralize %></span>
        <% end %>
      </div>
        <div class="track-time <%= 'unpublished-text' unless track.published %>">
          <div class="start-time">
            <%= start_stop_icons("start", track.published)%>
            <%= display_start_time(track) %>
          </div>
          <div class="end-time">
            <%= start_stop_icons("stop", track.published)%>
            <%= display_end_time(track) %>
          </div>
        </div>

      <div class="track-progress">
        <% if current_user.student? %>
          <%= render partial: 'shared/progress_bar', locals: { ratings: current_user.classrole.ratings_by_track(track), total_count: track.checkpoints.length } %>
        <% else %>
          <%= render partial: 'shared/progress_bar', locals: { ratings: track.ratings, total_count: @classroom.invitations.accepted.size * track.checkpoints.size } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
