<%= link_to classroom_track_path(classroom_id: @classroom, id: track), class: "grid1 grid-unit" do %>
  <h3 class="grid-header"><%=track.name %></h3>
  <div class= "row">
    <ul>
    <% track.checkpoints.each do |checkpoint| %>
      <li><%= checkpoint.expectation %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if current_user.student? %>
  <div>
    <div class="progress progress-border">
      <% this_student = @current_user.classrole %>
      <% this_student_0 = this_student.student_ratings_count(track,0) %>
      <% this_student_1 = this_student.student_ratings_count(track,1) %>
      <% this_student_2 = this_student.student_ratings_count(track,2) %>
      <% this_student_e = this_student.get_student_unanswered(track) %>
      <div class="progress-bar progress-bar-danger" style="width: <%= scale(track,this_student_0) %>%"><%= this_student_0 %></div>
      <div class="progress-bar progress-bar-warning" style="width: <%= scale(track,this_student_1) %>%"><%= this_student_1 %></div>
      <div class="progress-bar progress-bar-success" style="width: <%= scale(track,this_student_2) %>%"><%= this_student_2 %></div>
      <div class="progress-bar progress-bar-empty" style="width: <%= scale(track,this_student_e) %>%"><%= this_student_e %></div>
    </div>
  </div>
<% end %>