<div class="well">
  <h2><%= track.name %></h2>
  <%= form_tag add_ratings_path do %>
    <%= hidden_field_tag "track_id", track.id %>
    <%= render track.checkpoints %>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2"><%= submit_tag 'Take survey', class: 'btn btn-sm btn-success' %></div>
    </div>
  <% end %>
</div>