<%= link_to classroom_track_path(classroom_id: @classroom, id: track), class: "grid1 grid-unit" do %>
  <h3 class="grid-header"><%=track.name %></h3>
  <% if current_user.student? %>
    <div class="grid-temp">
      <div class="progress progress-border">
        <%= render_bar(score_count(track, 0)[:count], 0, score_count(track, 0)[:percent] )%>
        <%= render_bar(score_count(track, 1)[:count], 1, score_count(track, 1)[:percent] )%>
        <%= render_bar(score_count(track, 2)[:count], 2, score_count(track, 2)[:percent] )%>
        <%= render_bar(no_scores(track)[:count], 3, no_scores(track)[:percent] )%>
      </div>
    </div>
  <% end %>
  <div class= "row">
    <ul>
    <% track.checkpoints.each do |checkpoint| %>
      <li><%= checkpoint.expectation %></li>
    <% end %>
    </ul>
  </div>
<% end %>
