<div class="grid-unit narrow">
  <div class="padding-border">
    <%= link_to classroom_track_path(classroom_id: @classroom, id: track), class: "content" do %>
      <h4><%=track.name %></h4>

      <div class="checkpoint-count">
        <span class="track-icons checkpoint-icon"></span>
        <span class="student-num"><%= track.checkpoints.length %></span><span><%= " Checkpoint".pluralize %></span>
      </div>
      <% if current_user.student? %>
        <div class="grid-temp">
          <%= render partial: 'shared/progress_bar', locals: { ratings: current_user.classrole.track_ratings(track), total_count: track.checkpoints.length } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
