<%= link_to classroom_track_path(classroom_id: @classroom, id: track), class: "grid1 grid-unit" do %>
  <h3 class="grid-header"><%=track.name %></h3>
  <% if current_user.student? %>
    <div class="grid-temp">
      <div class="progress progress-border">
        <div class="progress-bar progress-bar-danger" style="width: <%= scale(track,score_count(track,0)) %>%"><%= score_count(track,0) %></div>
        <div class="progress-bar progress-bar-warning" style="width: <%= scale(track,score_count(track,1)) %>%"><%= score_count(track,1) %></div>
        <div class="progress-bar progress-bar-success" style="width: <%= scale(track,score_count(track,2)) %>%"><%= score_count(track,2) %></div>
        <div class="progress-bar progress-bar-empty" style="width: <%= scale(track,score_count(track,"empty")) %>%"><%= score_count(track,"empty") %></div>
      </div>
    </div>
  <% end %>
  <div class= "row">
    <ul>
    <% track.checkpoints.each do |checkpoint| %>
      <li><%= checkpoint.expectation %></li>
    <% end %>
    </ul>
  </div>
<% end %>
