<h1>Analytics</h1>
<% @tracks.each do |track| %>

<div class="well">
  <div class="row header-row">
    <h1><%= track.name %></h1>
  </div>
  <% track.checkpoints.each do |checkpoint| %>
    <div class="row">
      <div class="col-md-9">
        <h4>
        <%= checkpoint.content %>
        </h4>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: <%= checkpoint.zero_score %>%"></div>
          <div class="progress-bar progress-bar-warning" style="width: <%= checkpoint.one_score %>%"></div>
          <div class="progress-bar progress-bar-success" style="width: <%= checkpoint.two_score %>%"></div>
        </div>
      </div>

      <div class="col-md-3 ratings-count">
        <div class= "count-number"><%= checkpoint.ratings.count %></div>
        <p><%="response".pluralize(checkpoint.ratings.count) %></p>
      </div>
    </div>
  <% end %>
</div>

<% end %>
