<div class="well analytics-filter"><%= form_tag(scope_analytics_tracks_path, class: "form-inline") do %>
  Display results from <%= text_field_tag :start_at, "", class: "form-control", placeholder: "Enter number" %> hours ago to <%= text_field_tag :end_at, "", class: "form-control", placeholder: "Enter number" %> hours ago
  <%= submit_tag "Filter", class: "btn btn-small btn-success btn-filter" %>
<% end %>
</div>

<h1>Analytics</h1>

<% @tracks.each do |track| %>
<div class="well">
  <div class="row header-row">
    <h1><%= track.name %></h1>
  </div>
  <% track.checkpoints.each do |checkpoint| %>
    <div class="row">
      <div class="col-md-9">
        <h4>
        <%= checkpoint.content %>
        </h4>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: <%= checkpoint.zero_score(@start_time, @end_time) %>%"></div>
          <div class="progress-bar progress-bar-warning" style="width: <%= checkpoint.one_score(@start_time, @end_time) %>%"></div>
          <div class="progress-bar progress-bar-success" style="width: <%= checkpoint.two_score(@start_time, @end_time) %>%"></div>
        </div>
      </div>

      <div class="col-md-3 ratings-count">
        <div class= "count-number"><%= checkpoint.ratings_count(@start_time, @end_time) %></div>
        <p><%="response".pluralize(checkpoint.ratings_count(@start_time, @end_time)) %></p>
      </div>
    </div>
  <% end %>
</div>

<% end %>


<h2>Average rating over class (example: first track)</h2>
<div class="row">
  <%= content_tag :div, "", id: "tracks_chart", data: {ratings: ratings_data} %>
</div>
