  <div class="grid-unit wide">
    <h2>All Tracks</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
  <!-- Teacher Controls -->
  <div class="grid-unit narrow">
    <% if current_user.teacher? %>
      <%= link_to 'Manage Students', new_classroom_invitation_path(@classroom), id: 'manage-students' %>
      <%= link_to 'Manage Classroom', edit_classroom_path(@classroom), id: 'manage-classroom' %>
    <% end %>
  </div>
</div>
<div class="wrapper">
  <!-- Tracks List -->
  <div class="tracks" data-url="<%= sort_classroom_tracks_path(@classroom) %>">
    <%= render @tracks %>
  </div>
  <!-- Teacher Controls -->
  <% if current_user.teacher? %>
    <div class="grid-unit narrow add-unit">
      <div class="padding-border">
        <%= link_to new_classroom_track_path, class: "content", id: "add-track" do %>
          <div class="add-sign">+</div>
          <p class="add-text">Add New Track</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% provide(:title, @classroom.name) %>