  <div class="grid-unit wide">
    <h2>All Tracks</h2>
    <h5 class="subtitle"><%= @classroom.name %></h5>
  </div>
  <!-- Teacher Controls -->
  <div class="grid-unit narrow">
    <% if current_user.teacher? %>
      <%= link_to 'Add Students', new_classroom_invitation_path(@classroom), id: 'manage-students' %>
      <%= link_to 'Manage Classroom', edit_classroom_path(@classroom), id: 'manage-classroom' %>
    <% end %>
  </div>
</div>
<div class="wrapper">
  <!-- Teacher Controls -->
  <% if current_user.teacher? %>
    <div class="grid-unit narrow add-unit">
      <div class="classroom">
        <%= link_to new_classroom_track_path, class: "classroom-content", id: "add-track" do %>
          <div class="add-sign">+</div>
          <p class="add-text">Add New Track</p>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- Tracks List -->
  <%= render @tracks %>
</div>
<% provide(:title, @classroom.name) %>