<%= subscribe_to "/track/#{@track.id}/ratings" %>

<div id="page-head">
  <h2 class="page-header"><%= @classroom.name %> > <%= @track.name %></h2>
  <% if !current_user.student? %>
    <%= link_to 'Add Checkpoints', new_classroom_track_checkpoint_path(@classroom, @track), class: "btn btn-head pull-right" %>
  <% end %>
</div>

<div class="grid2" id="track" data-trackid="<%= @track.id %>">
  <%= render @track.checkpoints.order(id: :asc) %>
</div>

<div class="grid1 all-tracks">
  <h3 class="grid-header">All Tracks</h3>
  <div class="row">
    <ul>
      <% @classroom.tracks.each do |track| %>
        <li class="link"><%= link_to track.name, classroom_track_path(@classroom, track) %></li>
      <% end %>
    </ul>
  </div>
</div>