<div class="grid page-title">
  <div class="grid-unit whole">
    <h2>
      <%= @classroom.name %> > <%= @track.name %>
      <%= ' [Unpublished]' unless @track.published %>
    </h2>
    <!-- Teacher Controls -->
    <% if current_user.teacher? %>
      <%= link_to 'Add Checkpoints', new_classroom_track_checkpoint_path(@classroom, @track), class: "btn btn-head pull-right" %>
      <%= link_to 'Manage Track', edit_classroom_track_path(@classroom, @track), class: "btn btn-head pull-right", id: 'manage-track' %>
    <% end %>
  </div>

</div>
<p><%= display_start_end_times(@track) %></p>

<div class="grid2" id="track" data-trackid="<%= @track.id %>">
  <%= render @track.checkpoints %>
</div>

<div class="grid1 all-tracks">
  <h3 class="grid-header">All Tracks</h3>
  <div class="row">
    <ul>
      <% @classroom.tracks.each do |track| %>
        <li class="link"><%= link_to track.name, classroom_track_path(@classroom, track) %></li>
      <% end %>
    </ul>
  </div>
</div>