<h2 class="page-header"><%= @classroom.name %> > <%= @track.name %></h2>
<div class="grid2">
  <!-- <div class="row header-row">
    <h1><%= @track.name %></h1>
  </div> -->

    <%= render @track.checkpoints.order(id: :asc) %>
</div>
<div class="grid1 grid-unit all-tracks">
  <h3 class="grid-header">All Tracks</h3>
  <div class="row">
    <ul>
      <% @classroom.tracks.each do |track| %>
        <li><%= link_to track.name, classroom_track_path(@classroom, track) %></li>
      <% end %>
    </ul>
  </div>
</div>