<div class="grid-unit narrow">
  <div class="classroom">
    <%= link_to classroom_tracks_path(classroom), class: 'classroom-content' do %>
      <h4><%= classroom.name %></h4>
      <p class="classroom-desc"><%= classroom.description %></p>

      <div class="student-count">
        <% accepted = classroom.invitations.accepted.size %>
        <span class="class-icons student-icon"></span>
        <span class="student-num"><%= accepted %></span><span><%= " #{'Student'.pluralize(accepted)} Joined" %></span>
      </div>

      <% if current_user.teacher? %>
        <%= pending_invitations(classroom.invitations.pending.size, accepted) %>
      <% end %>
      <div class="track-count">
        <span class="class-icons track-icon"></span>
        <% published = classroom.tracks.published.size %>
        <% if current_user.teacher? %>
          <span class="track-num"><%= published %></span><span><%= " #{'Track'.pluralize(published)} Published" %></span>
          <% unpublished = classroom.tracks.unpublished.size %>
          <% if unpublished != 0 %>
            <div class="unpublished-tracks h5"><%= "#{unpublished} #{'track'.pluralize(unpublished)} unpublished" %></div>
            <% elsif published != 0 %>
            <div class="all-published h5">0 tracks unpublished</div>
          <% end %>
        <% else %>
          <span class="track-num"><%= published %></span><span><%= " Track".pluralize(published) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>