<%= form_for classroom do |f| %>
  <%= f.error_messages %>
  <div class="form-group">
    <%= f.label :name, 'New Classroom Name' %>
    <%= f.text_field :name, placeholder: "Enter classroom name", class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Classroom description' %>
    <%= f.text_area :description, maxlength: "65", placeholder: "Enter classroom description (optional; max 65 chars)", class: "form-input" %>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>