<div class="row" id="checkpoint_<%= checkpoint.id %>">
  <div class="expectation-content <%='draggable-checkpoint' if current_user.teacher? %>">
    <div class="expectation <%='expectation-student' if current_user.student? %>">
      
      <span class="h5" title="<%= 'Drag and drop to re-order checkpoint' if current_user.teacher? %>"><%= checkpoint.expectation %></span>
    </div>
    <div class="expectation-actions <%='expectation-actions-student' if current_user.student? %>">
      <ul class="action-icons">
        <% if current_user.teacher? %>
        <!-- Teacher Controls -->
          <li>
            <%= link_to classroom_track_checkpoint_path(@classroom, @track, checkpoint), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: 'trash-icon', id: "delete-checkpoint", title: "Delete Checkpoint" do %>
              <%= render 'shared/trash' %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_classroom_track_checkpoint_path(@classroom, @track, checkpoint), class: 'edit-icon', id: "edit-checkpoint", title: "Edit Checkpoint" do %>
              <%= render 'shared/edit' %>
            <% end %>
          </li>
        <% else %>
          <li class="student-action">
            <%= content_tag :a, '?', class: "sc-show-icon strong", title: "Show Success Criteria" %>
          </li>
          <li class="student-action ratings">
            <span class="choices">
              <%= link_to classroom_track_ratings_path(@classroom, @track, checkpoint_id: checkpoint, value: 2), class: 'face first', title: Rating::OPTIONS[2], method: :post, remote: true do %>
                <%= render 'ratings/face2' %>
              <% end %>
              <%= link_to classroom_track_ratings_path(@classroom, @track, checkpoint_id: checkpoint, value: 1), class: 'face', title: Rating::OPTIONS[1], method: :post, remote: true do %>
                <%= render 'ratings/face1' %>
              <% end %>
              <%= link_to classroom_track_ratings_path(@classroom, @track, checkpoint_id: checkpoint, value: 0), class: 'face last', title: Rating::OPTIONS[0], method: :post, remote: true do %>
                <%= render 'ratings/face0' %>
              <% end %>
            </span>
            <a href="" class="face choose choices-toggle" title="How do you feel about this checkpoint?">
                <%= render "ratings/face#{last_rating(checkpoint)}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if current_user.student? %>
    <!-- Student Controls -->
    <!-- <div class="checkpoint-score-links">
      <%= button_to Rating::OPTIONS[0], classroom_track_ratings_path(@classroom, @track, checkpoint_id: checkpoint, value: 0), class: 'checkpoint-rating checkpoint0 btn', remote: true %>
      <%= button_to Rating::OPTIONS[1], classroom_track_ratings_path(@classroom, @track, checkpoint_id: checkpoint, value: 1), class: 'checkpoint-rating checkpoint1 btn', remote: true %>
      <%= button_to Rating::OPTIONS[2], classroom_track_ratings_path(@classroom, @track, checkpoint_id: checkpoint, value: 2), class: 'checkpoint-rating checkpoint2 btn', remote: true %>
    </div> -->
  <% end %>
  <div class="success-criteria <%= 'success-criteria-show' if current_user.teacher? %>">
    <%= checkpoint.success_criteria %>
  </div>
</div>