<div class="row">
  <div class="col-md-6 checkpoint-content">
    <h4>
    <%= checkpoint.content %>
    </h4>
  </div>

  <div class="col-md-4">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= checkpoint.overall_score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= checkpoint.overall_score %>%;">
      <% if checkpoint.overall_score > 5 %>
      <%= checkpoint.overall_score %> %
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-2 checkpoint-score-select">
    <%= hidden_field_tag "checkpoints[checkpoint_#{checkpoint.id}][:id]]", checkpoint.id %>
    <%= select_tag("checkpoints[checkpoint_#{checkpoint.id}][:score]]", options_for_select([0,1,2])) %>
  </div>
</div>