<div class="well">
  <h4>
  <%= checkpoint.content %>
  <%= hidden_field_tag "checkpoints[checkpoint_#{checkpoint.id}][:id]]", checkpoint.id %>
  <%= select_tag("checkpoints[checkpoint_#{checkpoint.id}][:score]]", options_for_select([0,1,2])) %>
  </h4>
  Class score:
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= checkpoint.overall_score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= checkpoint.overall_score %>%;"> <%= checkpoint.overall_score %> %
    </div>
  </div>
</div>
