<%= form_for [@classroom, @track, @checkpoint] do |f| %>
  <%= f.error_messages %>
  <div class="form-group">
    <%= f.label :expectation %>
    <%= f.text_field :expectation, maxlength: "50", placeholder: 'Enter an Expectation Title. Maximum 50 characters.', class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :success_criteria %>
    <%= f.text_area :success_criteria, rows: 2, maxlength: "200",placeholder: 'Enter Success Criteria for this expectation. Maximum 200 characters, but shorter is better!', class: "form-input"  %>
  </div>
  <div>
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>