<div class="row" id="checkpoint<%= checkpoint.id %>">
  <div class="unit-inner"><div class="analytics-track-name">
      <h4>
      <%= checkpoint.expectation %>
      </h4>
      <%= render partial: 'progress_bar', locals: { ratings: @phase.ratings(checkpoint), checkpoint: checkpoint } %>
    </div>

    <div class="ratings-count">
      <%= ratings_count_box(checkpoint) %>
    </div>
  </div>

  <div class="hasnt-voted">
      <%= hasnt_voted_box(checkpoint) %>
  </div>
</div>