<script>
window.TRACK_ID = <%= @track.id %>
</script>

<%= subscribe_to "/track/#{@track.id}/ratings" %>

<%#= render 'time_filter' %>
<div id="page-head">
  <h2 class="page-header">Analytics > <%= @track.name %></h2>
</div>
<div class="grids">
  <div class="grid2">
    <%= render :partial => 'track' %>
  </div>
</div>

<div class="grid1 grid-unit all-tracks">
  <h3 class="grid-header">All Tracks</h3>
  <div class="row">
    <ul>
      <% @classroom.tracks.each do |track| %>
        <li><%= link_to track.name, classroom_track_analytics_path(@classroom, track) %></li>
      <% end %>
    </ul>
  </div>
</div>