  <div class="grid-unit whole">
    <h2><%= @track.name %></h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit whole">
    <div class="track-times">
      <div><%= display_start_time(@track) %></div>
      <div><%= display_end_time(@track) %></div>
    </div>
  </div>
  <div class="grid-unit narrow pull-right sidebar">
    <div class="content">
      <h4 class="unit-header">Analytics: All Tracks</h4>
        <div class="row" id='sidebar-links'>
          <ul>
            <% @classroom.tracks.each do |track| %>
              <li class="sidebar-link">
                <div class="row">
                <%= link_to track.name, classroom_track_analytics_path(@classroom, track) %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <div class="content">
      <%= render 'phasing' if @track.phasing? %>
    </div>
  </div>
  <div class="grid-unit wide" id="track">
    <div class="content">
      <h4 class="unit-header">Analytics: All Checkpoints</h4>
      <div class="row">
        <a href="" class="unit-action students-toggle">Toggle students that haven't voted</a>
      </div>
      <%= render :partial => 'checkpoint', collection: @track.checkpoints %>
    </div>
  </div>
</div>

<% if @phase.state == 'Realtime' %>
  <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
  <script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>');
  var channel = pusher.subscribe('track<%= @track.id %>-ratings');
  channel.bind('rating', function(data) {
    var ratingsCounts = new RatingsCounter(data.ratings, data.totalCount).init();
    $("#checkpoint" + data.checkpoint).barChart(ratingsCounts);
  });
  </script>
<% end%>
<% provide(:title, 'Analytics') %>