<%= subscribe_to "/track/#{@track.id}/ratings" %>

<div id="page-head">
  <h2 class="page-header">Analytics > <%= @track.name %></h2>
</div>
<div class="grids">
  <div class="grid2" id="track" data-trackid="<%= @track.id %>">
    <div><%= render :partial => 'checkpoint', collection: @track.checkpoints %></div>
  </div>
</div>

<div class="grid1 all-tracks">
  <h3 class="grid-header">Analytics > All Tracks</h3>
  <div class="row">
    <ul>
      <% @classroom.tracks.each do |track| %>
        <li class="link"><%= link_to track.name, classroom_track_analytics_path(@classroom, track) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <%= render 'phasing' if @track.phasing? %>
</div>