<div class="grid page-title">
  <div class="grid-unit whole">
    <h2>Analytics > <%= @track.name %></h2>
  </div>
</div>
<div class="grids">
  <div class="grid2" id="track">
    <div><%= render :partial => 'checkpoint', collection: @track.checkpoints %></div>
  </div>
</div>

<div class="grid1 all-tracks">
  <h3 class="grid-header">Analytics > All Tracks</h3>
  <div class="row">
    <ul>
      <% @classroom.tracks.each do |track| %>
        <li class="link"><%= link_to track.name, classroom_track_analytics_path(@classroom, track) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <%= render 'phasing' if @track.phasing? %>
</div>

<% if @phase.state == 'Realtime' %>
  <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
  <script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>');
  var channel = pusher.subscribe('track<%= @track.id %>-ratings');
  channel.bind('rating', function(data) {
    var ratingsCounts = new RatingsCounter(data.ratings, data.totalCount).init();
    $("#checkpoint" + data.checkpoint).barChart(ratingsCounts);
  });
  </script>
<% end%>