<h1>Log In To Claim Invitation</h1>

<%= form_tag students_enroll_path, class: 'form-horizontal' do %>
  <%= hidden_field_tag "user[token]", @token %>

  <div>
    <%= label_tag "user[email]", 'Email Address' %>
    <%= text_field_tag "user[email]", nil, class: "form-input" %>
  </div>

  <div>
    <%= label_tag "user[password]", 'Password' %>
    <%= password_field_tag "user[password]", nil, class: "form-input" %>
  </div>

  <div>
    <%= submit_tag 'Login & Claim', id: 'add-student', class: "login-button btn" %>
  </div>
<% end %>