<h1>Sign up as a Student</h1>

<p>If you already have a student account then <%= link_to 'skip this step', students_login_path(@token), class: 'remove_button btn' %>.</p>

<%= form_tag students_create_path, class: 'form-horizontal' do %>
  <%= hidden_field_tag "user[token]", @token %>

  <div>
    <%= label_tag "user[email]", 'Email Address' %>
    <%= text_field_tag "user[email]", nil, class: "form-input" %>
  </div>

  <div>
    <%= label_tag "user[first_name]", 'First Name' %>
    <%= text_field_tag "user[first_name]", nil, class: "form-input" %>
  </div>

  <div>
    <%= label_tag "user[last_name]", 'Last Name' %>
    <%= text_field_tag "user[last_name]", nil, class: "form-input" %>
  </div>

  <div>
    <%= label_tag "user[password]", 'Password' %>
    <%= password_field_tag "user[password]", nil, class: "form-input" %>
  </div>

  <div>
    <%= label_tag "user[password_confirmation]", 'Password Confirmation' %>
    <%= password_field_tag "user[password_confirmation]", nil, class: "form-input" %>
  </div>

  <div>
    <%= submit_tag 'Register', id: 'register-student', class: "login-button btn" %>
  </div>
<% end %>