<% provide(:title, 'Edit Profile') %>
<h2>Edit Profile</h2>

<%= form_for @current_user, url: update_profile_path , class: 'form-horizontal' do |f| %>
  <%= f.error_messages %>
  <h3>
  <%= f.label :email %>
  </h3>
  <span>
  <%= f.email_field :email, class: "form-input" %>
  </span>

  <h3>
  <%= f.label :first_name %>
  </h3>
  <span>
  <%= f.text_field :first_name, class: "form-input" %>
  </span>

  <h3>
  <%= f.label :last_name %>
  </h3>
  <span>
  <%= f.text_field :last_name, class: "form-input" %>
  </span>
  <h3>
  <%= f.label :password %>
  </h3>

  <span>
  <%= f.password_field :password, class: "form-input" %>
  </span>

  <h3>
  <%= f.label :password_confirmation %>
  </h3>

  <span>
  <%= f.password_field :password_confirmation, class: "form-input" %>
  </span>

  <div>
  <%= f.submit "Submit", class: "profile-button btn" %>
  </div>

<% end %>