<nav class="navbar" role="navigation">
  <div class="container">
    <div id="logo"><a href="/"><%= image_tag("logo2.svg") %></a></div>
    <ul class="nav">
      <% if @classroom && @classroom.id %>
        <li><%= link_to 'Classrooms', classrooms_path %></li>
        <li><%= link_to 'Tracks', classroom_tracks_path(@classroom) %></li>
      <% end %>

      <% if @track && @track.id && current_user.teacher? %>
        <li><%= link_to 'Analytics', classroom_track_analytics_path(@classroom, @track) %></li>
      <% end %>

      <% unless current_user %>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Register', register_path %></li>
      <% end %>

      <% if current_user %>
        <% if current_page?('/profile/edit') %>
          <li><%= link_to 'Classrooms', classrooms_path %></li>
        <% else %>
         <li><%= link_to 'Profile', edit_profile_path %></li>
        <% end %>
        <li class="hide-role"><span> <%= "Role: #{current_user.classrole_type}; #{current_user.email}" %> </span></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      <% end %>

    </ul>
  </div>
</nav>