<% if current_user.teacher? %>
  <% requests_limit = 30 %>
  <% requests = @classroom.requesters.size %>
  <%= link_to classroom_requesters_path(@classroom), id: "requesters_link", class: 'help-toggle pull-right', data: { reqlimit: requests_limit, requests: requests, classroom_id: @classroom.id } do %>
    <% if requests > 0 %>
      <span class="nav-icon nav-help active" title="Your Students Need Help" ></span>
      <div class="req-num">
        <% if requests <= requests_limit %>
          <%= requests %>
        <% else %>
          <%= "#{requests_limit}+" %>
        <% end %>
      </div>
    <% else %>
      <span class="nav-icon nav-help" title="No Students Need Help"></span>
      <div class="req-num dont-show"></div>
    <% end %>
  <% end %>
<% else %>
  <% requester = current_user.classrole.invitations.find_by(classroom_id: @classroom.id) %>
  <%= content_tag :div, class: 'help-toggle pull-right', id: 'student-help-toggle', data: { classroom_id: @classroom.id, requester_id: requester.id } do %>
    <% if current_user.needs_help?(@classroom) %>
      <%= link_to 'In Help Queue', classroom_requester_path(classroom_id: @classroom.id, id: requester.id), method: :patch, remote: true, class: 'help-btn in-queue' %>
    <% else %>
      <%= link_to 'Ask for Help', classroom_requester_path(classroom_id: @classroom.id, id: requester.id), method: :patch, remote: true, class: 'help-btn ask-help' %>
    <% end %>
    <div>
      <%= link_to 'View Queue', classroom_requesters_path(@classroom) %>
    </div>
  <% end %>
  <div class="student-help-tooltip strong" id="help-tooltip"></div>
<% end %>
