<li class="logo">
  <%= link_to '', root_path, class: "nav-links" %>
</li>
<li>
  <%= link_to classrooms_path, class: "nav-links" do %>
    <span class="nav-icon nav-classrooms"></span>
    <span class="nav-label">Classrooms</span>
  <% end %>
</li>

<% if @classroom.try(:id) %>
  <li id="track_link" data-classroomid="<%= @classroom.id %>" >
    <%= link_to classroom_tracks_path(@classroom), class: "nav-links" do %>
      <span class="nav-icon nav-tracks"></span>
      <span class="nav-label">Tracks</span>
    <% end %>
  </li>
    <%= subscribe_to "/classrooms/#{@classroom.id}/requesters" %>
  <% if current_user.teacher? %>
    <%= render 'shared/teacher_nav' %>
  <% else %>
    <%= render 'shared/student_nav' %>
  <% end %>
<% end %>

<div class="bottom-nav">
  <!-- move all account links into a secondary menu visible on hover -->
  <li><%= link_to 'Log Out', logout_path, method: :delete, id: 'logout-link' %></li>
  <li>
    <%= link_to edit_profile_path, class: "nav-links" do %>
      <span class="nav-icon nav-account"></span>
      <span class="nav-label">Account</span>
    <% end %>
  </li>
  <!-- <li class="hide-role"><span> <%= "Role: #{current_user.classrole_type}; #{current_user.email}" %> </span></li> -->
  </li>
  <li>
    <a title="expand" class="nav-links collapse-toggle">
      <span class="nav-icon nav-size"></span>
      <span class="nav-label nav-label-hide">Expand</span>
    </a>
  </li>
</div>