<h1>Sign up as a Student</h1>
<% if @token %>
  <p>If you already have a student account then <%= link_to 'skip this step', login_invitation_path(@token) %>.</p>
<% else %>
  <p>If you already have a student account then skip this step</p>
<% end %>

<%= form_tag invitations_create_student_path, class: 'form-horizontal' do %>
  <%= hidden_field_tag "user[token]", @token %>

  <div>
    <%= label_tag "user[email]", 'Email Address' %>
    <%= text_field_tag "user[email]", nil, class: "form-input" %>
  </div>

  <div>
    <%= label_tag "user[password]", 'Password' %>
    <%= password_field_tag "user[password]", nil, class: "form-input" %>
  </div>

  <div>
    <%= label_tag "user[password_confirmation]", 'Password Confirmation' %>
    <%= password_field_tag "user[password_confirmation]", nil, class: "form-input" %>
  </div>

  <div>
    <%= submit_tag 'Register', id: 'register-student', class: "login-button btn" %>
  </div>
<% end %>