<div class="grid1">
<h1>Invite Students</h1>
<%= form_for [@classroom, @invitation] do |f| %>
  <h3>
    <%= f.label :email %>
    </h3>
  <span>
    <%= f.text_field :email, placeholder: "Please enter email address", class: "form-input" %>
  </span>
  <div>
    <%= f.submit 'Send Invitation', class: 'invite-button btn' %>
  </div>
<% end %>
</div>

<div class="grid1">
  <table>
    <tr>
      <th>Email</th>
      <th>Status</th>
    </tr>

    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.email %></td>
        <td><%= get_invitation_status(invitation) %></td>
      </tr>
    <% end %>
  </table>
</div>