<div class="grid1">
<h1>Invite Students</h1>
<%= form_tag classroom_invitations_path(@classroom) do %>
  <h3>
    <%= label_tag :invitation_emails %>
    </h3>
  <span>
    <%= text_area_tag :invitation_emails, '', placeholder: "Separate multiple email addresses with commas or line breaks.", class: "form-input-area", rows: 4 %>
  </span>
  <div>
    <%= submit_tag 'Send Invitation', class: 'invite-button btn' %>
  </div>
<% end %>
</div>

<div class="grid3">
  <table>
    <tr>
      <th>Email (invited as)</th>
      <th>Email (signed up as)</th>
      <th>Status</th>
    </tr>

    <% @invitations.each do |invitation| %>
      <tr id="invitation_<%= invitation.id%>">
        <td><%= invitation.email %></td>
        <td><%= invitation.signed_up_as_email %></td>
        <td><%= get_invitation_status(invitation) %></td>
        <td><%= link_to 'Remove', classroom_invitation_path(@classroom, invitation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'remove_button btn'%></td>
      </tr>
    <% end %>
  </table>
</div>