<div id="page-head">
  <h2 class="page-header"><%= @classroom.name %> > Your Students Needing Help</h2>
</div>
<div class="grid3" id="student-list">
<%= render 'student_list', requesters: @requesters %>
</div>

<!-- <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
<script type="text/javascript">
var pusher = new Pusher('<%= Pusher.key %>');
var channel = pusher.subscribe('classroom<%= @classroom.id %>-requesters');
channel.bind('request', function(data) {
  console.log('something happend');
  $('#student-list').html("<%= j render 'student_list', requesters: @classroom.requesters %>");
});
</script> -->